html{
    font-size: 62.5%;
}

/*sassにおけるrem指定*/
@mixin rem($size) {
    font-size: $size+px;
    font-size: ($size/10)+rem;
    
}


body{
    @include rem(16);
    font-family: 'Noto Serif','Noto Serif JP',  serif;
    letter-spacing: .05em;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.nonscroll {
    overflow: hidden;
}  

h2 {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    color: #282F35;

    &::after {
        display: inline-block;
        content: "";  
        height: 5px;
        width: 200px;
        background-color: #282F35;
        margin-left: 30px;
        vertical-align: middle;
    }
}

h3 {
    font-size: 90px;
    color: #171717;
    opacity: 0.3 ;
}

.more {
    text-align: center;
}

.more--btn {
    display: inline-block;
    background-color: #F7D43F;
    color: 16px;
    padding: 19px 71px 18px;
    border-radius: 40px;

}



.container {
    width: 700px;
    padding: 0 10px;
    margin:0 auto ;
   
}

.content--wrapper {
    padding:0  100px ;
}


 /*ハンバーガーボタン*/
 .burger-btn{
    position: fixed;
   width: 30px;
   height: 36px;

   /*Googleによるスタイルシートを打ち消し*/
   background-color: transparent;
   border: 0px;
    display: none;
    
   
    top: 27px;
    right: 3vw;
    
    z-index: 100;
}




.bar {
    display: block;
    background-color:#FFFFFF;
    height: 2px;
    width: 30px;
    border-radius: 1px;
    
}



.bar--top{
    transform: translateY(-10px);
    transition: .4s;
    background-color: #FFFFFF;
    }
   

.bar--bottom{
    transform: translateY(10px);
    transition: .4s;
    background-color: #FFFFFF;
    }

/*ハンバーガーボタンを押した時の付加クラス*/
/*translateが2px指定なのは、おそらくbarのheightが2pxな為*/
.close{
    .bar--top{
        transform:translateY(2px) rotate(-210deg);
        
    }
 
    .bar--mid {
        opacity: 0;
    }
 
    .bar--bottom {
        transform:translateY(-2px) rotate(210deg);
       
    }
}    



.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    transition: 0.3s;
    display: flex;
    align-items: center;

    &__title {
        position: fixed;
        top: 30px;
        left: 11vw;

        a {
            font-size: 2.6rem;
            color: white;
        }
    }

    .nav {
        position: fixed;
        top: 38px;
        right: 11vw;

        &-list {
            display: flex;
        }

        &__item {
            a {
                font-size: 1.6rem;
                margin-left: 30px;
                color: white;
            }
        }
    }
}

.fixed {
    padding: 30px 0;
    background-color: #282f35;
    width: 100vw;
    height: 96px;
    box-sizing: border-box;
    transition: 0.3s;
}

.slick-arrow{
    display: none !important;
}



.fv{
    background-image: url(../img/contact-page-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    position: relative;

    img{
        height: 100vh;
        object-fit: cover;  
    }

    &__heading{
        font-size: 60px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #FFFFFF;
        font-weight: bold;
        font-family: 'Noto Serif';
    }
}


h3{
    position: absolute;
    left: 48px;
    bottom: 40px;
    height: 130px;
    @include rem(90);
    color: #FFFFFF;

}

.contact{
    padding: 100px 0 80px;
}


.inquiry{
    &-list{
        display: flex;
    }

    &__item{
        margin-right: 50px;

        input{
            margin-right: 10px;
        }
    }
}

.form{
    width: 100%;
    margin: 0 auto;

    &__item{
        margin-bottom: 25px;
    
        &-title{
            margin-bottom: 7px;
            font-weight:bold ;
        }
    }
}

.radio-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    box-sizing: border-box;  
    align-items: center;
    margin-right: 10px;
    /*input要素とlabel要素の高さを揃える為*/
    vertical-align: -4px;
}

.text-box {
    height: 51px;
    padding: 10px;
    border: 1px solid #333;
    box-sizing: border-box;
    width: 100%;
}

textarea{
    margin: 10px 0 40px;
    border: 1px solid #333;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    height: 171px;
    width: 100%;

}

.submit-wrapper {
    text-align: center;
}

.submit-btn{ 
    width:235px;
    height: 59px;
    padding: 11px 66px;
    background-color: #F7D43F;
    color: #171717;
    border-radius: 30px;
    box-shadow:0 0 6px #1B1310;
    font-size: 16px;
    font-weight: bold;
}


footer{
    height: 79px;
    text-align: center;
    padding: 29px 0 30px;
    box-sizing: border-box;
}


@media screen and (max-width:768px) {

    h1{
        left: 3vw;
    }


    h2{
        font-size: 3rem;

        &::after {
            width:90px;
        }
    }

    h3{
        font-size: 4rem;
       left: 15px;
       bottom: 40px;
       height: 64px;
    }

    .slide-in {
        transform: translateX(0)!important;
        transition: 0.3s!important;
    }



    .container {
        width:345px;
        margin: 0 auto;
        padding: 0 15px;
        
    }

    .burger-btn{
        display: block;
    }

    .content--wrapper{
        padding: 0;
    }
    .header {
        .container {
            padding: 0 0;
        }

        .nav {
            transform: translateX(100%);
            transition: 0.3s;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #282f35;
        }
    }

    .nav-list {
        flex-direction: column;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .nav__item {
            margin-bottom: 30px;
        }

        a {
            margin-left: 0;
        }
    }





    .fv{
        object-fit: cover;

        &--wrapper{
        padding:0  4%;

        }

    }

    .inquiry-list{
        flex-direction: column;
        text-align: left;
        li{
            margin-bottom: 10px;
        }
    }
}